html{
	font-size:20px;
}
	body {
    margin: 0;
}

.navigation {
    list-style: none;
    background-color: none;
    margin: 0 auto;
    padding: 0;
    width: 60%;
}

.navigation-items {
    display: inline-block;
    width: 24%;
    text-align: center;
	}

.navigation-items a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #26a68d;
    width: 100%;
    display: inline-block;
    padding: 1rem 0;
		font-size: 1.5rem;
}

.bg img{
	width:100%;
}

.container{
	background-color: #f5f6f7;
	text-align: center;
	padding: 1rem 10%;
}

.title{
font-size: 1.1rem;
color: rgba(55, 55, 55);
text-transform: uppercase;
font-weight: bold;

}

.description{
	color:#5d5d5d;
	font-size: .8rem;
	font-weight: bold;

}

.btn a{
display: inline-block;
background-color: #16a085;
color:white;
border-radius: 5px;
font-weight: 700;
font-size: .8rem;
width: 192px;
text-transform: uppercase;
text-decoration: none;
padding: 1rem;

}

.footer{
	text-align: right;
	padding: 3rem 1rem;
	
}